.ligretto-zelene {
    color: #0060c4; /*  modra       0   96  196  */
    color: #009366; /*  zelena      0   147 102  */
    color: #be2f37; /*  cervena     190 47  55   */
    color: #ffd520; /*  zlta        255 213 32   */
}

.ligretto-cervene {
    color: #f5969d; /*  ruzova       245 150 157  */
    color: #1f1500; /*  cierna       31  21  0    */
    color: #a49a00; /*  olivova      164 154 0    */
    color: #965c0f; /*  hneda        150 92  15   */
}

.ligretto-modre {
    color: #7e71b4; /*  fialova      126 113 180  */
    color: #f9a03a; /*  oranzova     249 160 58   */
    color: #00bbe5; /*  tyrkysova    0   187 229  */
    color: #c8df89; /*  pistaciova   200 223 137  */
}
