<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Ligretto Scoreboard</title>
    <meta name="description" content="Vysledková tabuľka na hru Ligretto!">
    <link rel="manifest" href="<%= BASE_URL %>manifest.json">
    <meta name="theme-color" content="#FFFFFF">
    <meta property="og:image"        content="https://puding.gitlab.io/ligretto/img/og-default.png">
    <meta property="og:image:width"  content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:title"        content="Ligretto Scoreboard">
    <meta property="og:description"  content="Vysledková tabuľka na hru Ligretto!">
    <meta property="og:url"          content="https://puding.gitlab.io/ligretto">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ligretto doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
