<template>
    <form>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Pridať hráča</p>
            </header>

            <section class="modal-card-body">
                <b-field type="is-dark">
                    <b-input v-model="newPlayerName" placeholder="Meno nového hráča"></b-input>
                </b-field>

                <input type="color" v-model="newPlayerColor" />
            </section>

            <footer class="modal-card-foot">
                <b-button
                    type="is-dark"
                    @click="addPlayer()"
                    :disabled="newPlayerName === ''"
                    :loading="addPlayerButtonLoading"
                    icon-left="plus-box"
                    >Pridať</b-button
                >
            </footer>
        </div>
    </form>
</template>

<script>
import { db } from '@/db.js'

export default {
    name: 'AddPlayerModal',
    data() {
        return {
            newPlayerName: '',
            newPlayerColor: '#' + (Math.random().toString(16) + '000000').slice(2, 8),
            addPlayerButtonLoading: false,
        }
    },
    methods: {
        addPlayer() {
            this.addPlayerButtonLoading = true
            let newPlayer = { name: this.newPlayerName, color: this.newPlayerColor }
            db.collection('players')
                .add(newPlayer)
                .then(this.$parent.close)
                .catch(() =>
                    this.$buefy.notification.open({
                        message: 'Nepodarilo sa pridať hráča.',
                        type: 'is-danger',
                    })
                )
                .finally(() => (this.addPlayerButtonLoading = false))
        },
    },
}
</script>

<style scoped></style>
