<template>
    <form>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    Ďalšie kolo (zadaj počty kariet)
                </p>
            </header>

            <section class="modal-card-body">
                <b-field
                    horizontal
                    v-for="player of members"
                    :key="player.id"
                    :label="$root.playersById[player.id].name"
                >
                    <b-field grouped>
                        <b-input
                            expanded
                            type="number"
                            custom-class="is-danger"
                            v-model="newNegatives[player.id]"
                            icon="minus"
                        ></b-input>
                        <b-input
                            expanded
                            type="number"
                            custom-class="is-success"
                            v-model="newPositives[player.id]"
                            icon="plus"
                        ></b-input>
                    </b-field>
                </b-field>
            </section>

            <footer class="modal-card-foot">
                <b-button
                    type="is-dark"
                    @click="addRound()"
                    :disabled="addRoundButtonDisabled"
                    :loading="addRoundButtonLoading"
                    icon-left="plus-box"
                    >Pridať</b-button
                >
            </footer>
        </div>
    </form>
</template>

<script>
import { db } from '@/db.js'

export default {
    name: 'AddRoundModal',
    props: {
        game: Object,
        members: Array,
    },
    data() {
        return {
            addRoundButtonLoading: false,
            newPositives: {},
            newNegatives: {},
        }
    },
    computed: {
        addRoundButtonDisabled() {
            const values = this.members
                .map(m => this.newPositives[m.id])
                .concat(this.members.map(m => this.newNegatives[m.id]))
            return !values.every(x => /^[0-9]+$/.test(x))
        },
    },
    methods: {
        addRound() {
            this.addRoundButtonLoading = true
            let batch = db.batch()
            for (let member of this.members) {
                const updatedMember = {
                    positive: member.positive.concat(Number(this.newPositives[member.id])),
                    negative: member.negative.concat(Number(this.newNegatives[member.id])),
                }
                batch.update(
                    db
                        .collection('games')
                        .doc(this.game.id)
                        .collection('members')
                        .doc(member.id),
                    updatedMember
                )
            }
            batch
                .commit()
                .then(this.$parent.close)
                .catch(() =>
                    this.$buefy.notification.open({
                        message: 'Nepodarilo sa pridať kolo.',
                        type: 'is-danger',
                    })
                )
                .finally(() => (this.addRoundButtonLoading = false))
        },
    },
}
</script>

<style scoped></style>
