<template>
    <div>
        <b-loading :active.sync="isLoading" is-full-page></b-loading>

        <template v-if="!isLoading">
            <b-modal :active.sync="isAddRoundModalActive" has-modal-card>
                <AddRoundModal :game="game" :members="members" />
            </b-modal>

            <div class="my-section">
                <h1 class="title">{{ game.name }}</h1>

                <b-table
                    class="box score-table"
                    style="padding: 0"
                    :data="tableData"
                    :mobile-cards="false"
                    narrowed
                >
                    <template slot-scope="props">
                        <b-table-column label="Hráč" centered>
                            <span class="player-name" :style="{ color: props.row.color }">{{
                                props.row.name
                            }}</span>
                        </b-table-column>

                        <b-table-column label="Skóre" centered>
                            {{ props.row.current }}
                        </b-table-column>
                    </template>
                </b-table>

                <GameChart
                    :chartData="chartData"
                    :options="chartOptions"
                    :width="null"
                    :height="null"
                ></GameChart>

                <b-field grouped position="is-centered" class="buttons">
                    <b-button
                        type="is-light"
                        icon-right="home"
                        @click="$router.push({ name: 'menu' })"
                    ></b-button>
                    <b-button type="is-dark" @click="isAddRoundModalActive = true"
                        >Ďalšie kolo</b-button
                    >
                </b-field>
            </div>
        </template>
    </div>
</template>

<script>
import GameChart from './GameChart.vue'
import AddRoundModal from './AddRoundModal.vue'
import { db } from '@/db.js'

export default {
    name: 'Game',
    components: {
        GameChart,
        AddRoundModal,
    },
    props: {
        gameId: String,
    },
    data() {
        return {
            isLoading: true,
            isAddRoundModalActive: false,
            chartOptions: {
                aspectRatio: 1.75,
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                },
            },
            members: [],
        }
    },
    computed: {
        game() {
            return this.$root.games.find(game => game.id === this.gameId)
        },
        chartData() {
            if (this.members.length === 0) return { labels: [], datasets: [] }
            return {
                labels: this.members[0].positive.map((x, i) => i + 1),
                datasets: this.members.map(member => ({
                    label: this.$root.playersById[member.id].name,
                    data: member.positive
                        .map((val, i) => val - 2 * member.negative[i])
                        .map((sum => value => (sum += value))(0)),
                    fill: false,
                    borderColor: this.$root.playersById[member.id].color,
                    backgroundColor: this.$root.playersById[member.id].color,
                })),
            }
        },
        tableData() {
            if (this.members.length === 0) return []
            return this.chartData.datasets
                .map(dataset => ({
                    name: dataset.label,
                    current: dataset.data[dataset.data.length - 1],
                    color: dataset.borderColor,
                }))
                .sort((a, b) => b.current - a.current)
        },
    },
    mounted() {
        this.$bind(
            'members',
            db
                .collection('games')
                .doc(this.gameId)
                .collection('members')
        ).then(() => (this.isLoading = false))
    },
}
</script>

<style scoped></style>
