<template>
    <div>
        <b-modal :active.sync="isAddPlayerModalActive" has-modal-card>
            <AddPlayerModal />
        </b-modal>

        <div class="my-section">
            <b-button v-if="!user" @click="login()">Prihlásiť sa</b-button>
            <template v-else>
                <p>
                    <small>Prihlásený ako {{ user.email }}</small>
                </p>
                <b-button @click="logout()">Odhlásiť sa</b-button>
            </template>
        </div>

        <div class="my-section">
            <h1 class="title">Nová hra</h1>

            <b-field type="is-dark" label="Názov hry">
                <b-input v-model="newGameName"></b-input>
            </b-field>

            <b-field label="Hrajú">
                <div class="control box is-dark">
                    <p v-for="player of $root.players" :key="player.id">
                        <b-checkbox
                            class="player-name"
                            type="is-dark"
                            v-model="selectedPlayerIds"
                            :native-value="player.id"
                            :style="{ color: player.color }"
                            >{{ player.name }}</b-checkbox
                        >
                    </p>

                    <b-field>
                        <b-button
                            type="is-light"
                            size="is-small"
                            @click="isAddPlayerModalActive = true"
                            icon-left="plus-box"
                            >Pridať hráča</b-button
                        >
                    </b-field>
                </div>
            </b-field>

            <b-field>
                <b-button
                    type="is-dark"
                    @click="addGame()"
                    :disabled="addGameButtonDisabled"
                    :loading="addGameButtonLoading"
                    >Začať</b-button
                >
            </b-field>
        </div>

        <div class="my-section">
            <h1 class="title">Staršie hry</h1>

            <b-field v-for="game of $root.games" :key="game.id">
                <b-button
                    style="width: 100%; height: 200%"
                    type="is-light"
                    @click="$router.push({ name: 'game', params: { gameId: game.id } })"
                >
                    {{ game.name }} <br />
                    <div
                        v-for="member of $root.members[game.id]"
                        :key="member.id"
                        :style="{ backgroundColor: $root.playersById[member.id].color }"
                        class="player-badge"
                    >
                        {{ $root.playersById[member.id].name.charAt(0) }}
                    </div>
                </b-button>
            </b-field>
        </div>
    </div>
</template>

<script>
import AddPlayerModal from './AddPlayerModal.vue'
import { auth, db, Timestamp } from '@/db.js'
import moment from 'moment'

export default {
    name: 'Menu',
    components: {
        AddPlayerModal,
    },
    data() {
        return {
            newGameName: moment().format('D. M. Y'),
            selectedPlayerIds: [],
            isAddPlayerModalActive: false,
            addGameButtonLoading: false,
            user: auth().currentUser,
        }
    },
    computed: {
        addGameButtonDisabled() {
            return (
                this.newGameName === '' ||
                this.selectedPlayerIds.length === 0 ||
                this.$root.games.map(game => game.name).includes(this.newGameName)
            )
        },
    },
    methods: {
        async addGame() {
            this.addGameButtonLoading = true
            try {
                let newGame = {
                    name: this.newGameName,
                    created: Timestamp.FieldValue.serverTimestamp(),
                }
                const newGameRef = await db.collection('games').add(newGame)
                let memberPromises = []
                for (let playerId of this.selectedPlayerIds) {
                    let newMember = { positive: [0], negative: [0] }
                    const memberPromise = newGameRef
                        .collection('members')
                        .doc(playerId)
                        .set(newMember)
                    memberPromises.push(memberPromise)
                }
                await Promise.all(memberPromises)
                await this.$root.loadMembers()
                this.$router.push({ name: 'game', params: { gameId: newGameRef.id } })
            } catch {
                this.$buefy.notification.open({
                    message: 'Nepodarilo sa vytvoriť hru.',
                    type: 'is-danger',
                })
            } finally {
                this.addGameButtonLoading = false
            }
        },
        login() {
            const provider = new auth.GoogleAuthProvider()
            auth().signInWithRedirect(provider)
        },
        logout() {
            auth().signOut()
        },
    },
    mounted() {
        auth().onAuthStateChanged(user => (this.user = user))
    },
}
</script>

<style scoped></style>
