<template>
    <div id="app">
        <b-loading :active.sync="$root.isLoading" is-full-page></b-loading>

        <div v-if="!$root.isLoading">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
export default {
    name: 'App',
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.my-section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.player-badge {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    text-shadow: 0px 0px 1px white;
}

.player-name {
    font-weight: bold;
}

.fade-leave-active,
.fade-enter-active {
    transition: opacity 0.3s;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-to {
    opacity: 0;
}
.fade-enter {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
</style>
